-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: carmel_linx_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_marks`
--

DROP TABLE IF EXISTS `academic_marks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_marks` (
  `mark_id` char(36) NOT NULL DEFAULT uuid(),
  `reg_no` varchar(50) NOT NULL,
  `subject_code` varchar(50) NOT NULL,
  `category` varchar(50) NOT NULL,
  `co_tag` varchar(10) NOT NULL,
  `max_marks` int(11) NOT NULL,
  `marks_obtained` decimal(5,2) NOT NULL,
  `entered_by` varchar(15) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`mark_id`),
  KEY `academic_marks_subject_code_foreign` (`subject_code`),
  KEY `academic_marks_entered_by_foreign` (`entered_by`),
  KEY `academic_marks_reg_no_subject_code_index` (`reg_no`,`subject_code`),
  CONSTRAINT `academic_marks_entered_by_foreign` FOREIGN KEY (`entered_by`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL,
  CONSTRAINT `academic_marks_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE,
  CONSTRAINT `academic_marks_subject_code_foreign` FOREIGN KEY (`subject_code`) REFERENCES `syllabus_registry` (`subject_code`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_marks`
--

LOCK TABLES `academic_marks` WRITE;
/*!40000 ALTER TABLE `academic_marks` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_marks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_point_claims`
--

DROP TABLE IF EXISTS `activity_point_claims`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_point_claims` (
  `id` char(36) NOT NULL,
  `reg_no` varchar(50) NOT NULL,
  `semester` int(11) NOT NULL DEFAULT 1,
  `activity_segment` varchar(255) NOT NULL,
  `activity_name` varchar(255) NOT NULL,
  `level` varchar(255) NOT NULL,
  `points_claimed` int(11) NOT NULL,
  `points_awarded` int(11) NOT NULL DEFAULT 0,
  `status` varchar(255) NOT NULL DEFAULT 'Pending',
  `rejection_note` varchar(255) DEFAULT NULL,
  `document_reference` text DEFAULT NULL,
  `verified_by` varchar(50) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `activity_point_claims_reg_no_foreign` (`reg_no`),
  CONSTRAINT `activity_point_claims_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_point_claims`
--

LOCK TABLES `activity_point_claims` WRITE;
/*!40000 ALTER TABLE `activity_point_claims` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_point_claims` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `performed_by` varchar(50) DEFAULT NULL,
  `performed_by_name` varchar(255) DEFAULT NULL,
  `target_id` varchar(50) NOT NULL,
  `target_name` varchar(255) NOT NULL,
  `action` varchar(100) NOT NULL,
  `details` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_logs_performed_by_index` (`performed_by`),
  KEY `audit_logs_target_id_index` (`target_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `batch_subjects`
--

DROP TABLE IF EXISTS `batch_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `batch_subjects` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `classroom_id` varchar(50) NOT NULL,
  `semester` int(11) NOT NULL,
  `subject_code` varchar(50) NOT NULL,
  `subject_name` varchar(255) NOT NULL,
  `subject_type` varchar(100) NOT NULL,
  `syllabus_revision_code` varchar(20) DEFAULT 'REV2021',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `batch_subjects_classroom_id_foreign` (`classroom_id`),
  CONSTRAINT `batch_subjects_classroom_id_foreign` FOREIGN KEY (`classroom_id`) REFERENCES `class_management` (`classroom_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batch_subjects`
--

LOCK TABLES `batch_subjects` WRITE;
/*!40000 ALTER TABLE `batch_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `batch_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cf_course_file_documents`
--

DROP TABLE IF EXISTS `cf_course_file_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cf_course_file_documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `course_file_id` bigint(20) unsigned NOT NULL,
  `document_number` int(11) NOT NULL,
  `document_name` varchar(255) NOT NULL,
  `is_checked` tinyint(1) NOT NULL DEFAULT 0,
  `remarks` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `data_payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data_payload`)),
  PRIMARY KEY (`id`),
  KEY `cf_course_file_documents_course_file_id_foreign` (`course_file_id`),
  CONSTRAINT `cf_course_file_documents_course_file_id_foreign` FOREIGN KEY (`course_file_id`) REFERENCES `cf_course_files` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cf_course_file_documents`
--

LOCK TABLES `cf_course_file_documents` WRITE;
/*!40000 ALTER TABLE `cf_course_file_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `cf_course_file_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cf_course_files`
--

DROP TABLE IF EXISTS `cf_course_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cf_course_files` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `batch_subject_id` bigint(20) unsigned NOT NULL,
  `academic_year` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'Draft',
  `attainment_settings` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attainment_settings`)),
  `generated_pdf_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cf_course_files_batch_subject_id_foreign` (`batch_subject_id`),
  CONSTRAINT `cf_course_files_batch_subject_id_foreign` FOREIGN KEY (`batch_subject_id`) REFERENCES `batch_subjects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cf_course_files`
--

LOCK TABLES `cf_course_files` WRITE;
/*!40000 ALTER TABLE `cf_course_files` DISABLE KEYS */;
INSERT INTO `cf_course_files` VALUES (1,1,'2026-2027','Complete',NULL,'storage/course_files/CourseFile_EL-5041_1.pdf','2026-06-25 10:56:18','2026-06-28 13:24:29'),(2,5,'2026-2027','Draft',NULL,NULL,'2026-06-25 10:56:18','2026-06-25 10:56:18');
/*!40000 ALTER TABLE `cf_course_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cf_section_a_planning`
--

DROP TABLE IF EXISTS `cf_section_a_planning`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cf_section_a_planning` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cf_id` bigint(20) unsigned NOT NULL,
  `gaps_identified` text DEFAULT NULL,
  `bridge_topics` text DEFAULT NULL,
  `faculty_timetable_ref` varchar(255) DEFAULT NULL,
  `class_timetable_ref` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cf_section_a_planning_cf_id_foreign` (`cf_id`),
  CONSTRAINT `cf_section_a_planning_cf_id_foreign` FOREIGN KEY (`cf_id`) REFERENCES `cf_course_files` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cf_section_a_planning`
--

LOCK TABLES `cf_section_a_planning` WRITE;
/*!40000 ALTER TABLE `cf_section_a_planning` DISABLE KEYS */;
INSERT INTO `cf_section_a_planning` VALUES (1,1,NULL,NULL,NULL,NULL,'2026-06-25 14:37:09','2026-06-25 14:37:09');
/*!40000 ALTER TABLE `cf_section_a_planning` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cf_section_b_materials`
--

DROP TABLE IF EXISTS `cf_section_b_materials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cf_section_b_materials` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cf_id` bigint(20) unsigned NOT NULL,
  `nptel_swayam_links` text DEFAULT NULL,
  `other_resources` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cf_section_b_materials_cf_id_foreign` (`cf_id`),
  CONSTRAINT `cf_section_b_materials_cf_id_foreign` FOREIGN KEY (`cf_id`) REFERENCES `cf_course_files` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cf_section_b_materials`
--

LOCK TABLES `cf_section_b_materials` WRITE;
/*!40000 ALTER TABLE `cf_section_b_materials` DISABLE KEYS */;
INSERT INTO `cf_section_b_materials` VALUES (1,1,NULL,NULL,'2026-06-25 14:37:09','2026-06-25 14:37:09');
/*!40000 ALTER TABLE `cf_section_b_materials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cf_section_c_assessments`
--

DROP TABLE IF EXISTS `cf_section_c_assessments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cf_section_c_assessments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cf_id` bigint(20) unsigned NOT NULL,
  `evaluation_scheme` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cf_section_c_assessments_cf_id_foreign` (`cf_id`),
  CONSTRAINT `cf_section_c_assessments_cf_id_foreign` FOREIGN KEY (`cf_id`) REFERENCES `cf_course_files` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cf_section_c_assessments`
--

LOCK TABLES `cf_section_c_assessments` WRITE;
/*!40000 ALTER TABLE `cf_section_c_assessments` DISABLE KEYS */;
INSERT INTO `cf_section_c_assessments` VALUES (1,1,NULL,'2026-06-25 14:37:09','2026-06-25 14:37:09');
/*!40000 ALTER TABLE `cf_section_c_assessments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cf_section_d_attainments`
--

DROP TABLE IF EXISTS `cf_section_d_attainments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cf_section_d_attainments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cf_id` bigint(20) unsigned NOT NULL,
  `action_taken_report` text DEFAULT NULL,
  `committee_minutes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cf_section_d_attainments_cf_id_foreign` (`cf_id`),
  CONSTRAINT `cf_section_d_attainments_cf_id_foreign` FOREIGN KEY (`cf_id`) REFERENCES `cf_course_files` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cf_section_d_attainments`
--

LOCK TABLES `cf_section_d_attainments` WRITE;
/*!40000 ALTER TABLE `cf_section_d_attainments` DISABLE KEYS */;
INSERT INTO `cf_section_d_attainments` VALUES (1,1,NULL,NULL,'2026-06-25 14:37:09','2026-06-25 14:37:09');
/*!40000 ALTER TABLE `cf_section_d_attainments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_management`
--

DROP TABLE IF EXISTS `class_management`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `class_management` (
  `classroom_id` varchar(50) NOT NULL,
  `branch` varchar(50) NOT NULL,
  `batch_year` int(11) NOT NULL,
  `current_semester` int(11) NOT NULL DEFAULT 1,
  `tutor_mobile_no` varchar(15) DEFAULT NULL,
  `mentor_mobile_no` varchar(15) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`classroom_id`),
  KEY `class_management_tutor_mobile_no_foreign` (`tutor_mobile_no`),
  KEY `class_management_mentor_mobile_no_foreign` (`mentor_mobile_no`),
  CONSTRAINT `class_management_mentor_mobile_no_foreign` FOREIGN KEY (`mentor_mobile_no`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL,
  CONSTRAINT `class_management_tutor_mobile_no_foreign` FOREIGN KEY (`tutor_mobile_no`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_management`
--

LOCK TABLES `class_management` WRITE;
/*!40000 ALTER TABLE `class_management` DISABLE KEYS */;
INSERT INTO `class_management` VALUES ('CE_2026_2029','CE',2026,1,NULL,NULL,'2026-06-26 13:11:15','2026-06-26 13:11:15'),('EL_2025_2028','EL',2025,3,'9100000001','9100000006','2026-06-21 10:48:14','2026-06-21 20:43:21'),('EL_2026_2029','EL',2026,1,NULL,NULL,'2026-06-26 11:31:42','2026-06-26 11:31:42');
/*!40000 ALTER TABLE `class_management` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_files`
--

DROP TABLE IF EXISTS `course_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_files` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `batch_subject_id` bigint(20) unsigned NOT NULL,
  `syllabus_pdf_path` varchar(255) DEFAULT NULL,
  `parsed_modules` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`parsed_modules`)),
  `parsed_cos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`parsed_cos`)),
  `parsed_copo` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`parsed_copo`)),
  `parsed_textbooks` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`parsed_textbooks`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `assignment_deadlines` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`assignment_deadlines`)),
  `assignment_questions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`assignment_questions`)),
  `summative_manual_tests` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`summative_manual_tests`)),
  PRIMARY KEY (`id`),
  KEY `course_files_batch_subject_id_foreign` (`batch_subject_id`),
  CONSTRAINT `course_files_batch_subject_id_foreign` FOREIGN KEY (`batch_subject_id`) REFERENCES `batch_subjects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_files`
--

LOCK TABLES `course_files` WRITE;
/*!40000 ALTER TABLE `course_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disciplinary_actions`
--

DROP TABLE IF EXISTS `disciplinary_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `disciplinary_actions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `date` date NOT NULL,
  `description` text NOT NULL,
  `action_taken` text DEFAULT NULL,
  `reported_by` varchar(15) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `disciplinary_actions_reg_no_foreign` (`reg_no`),
  KEY `disciplinary_actions_reported_by_foreign` (`reported_by`),
  CONSTRAINT `disciplinary_actions_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE,
  CONSTRAINT `disciplinary_actions_reported_by_foreign` FOREIGN KEY (`reported_by`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disciplinary_actions`
--

LOCK TABLES `disciplinary_actions` WRITE;
/*!40000 ALTER TABLE `disciplinary_actions` DISABLE KEYS */;
INSERT INTO `disciplinary_actions` VALUES (6,'25EL1001','2026-06-28','Test incident from fix','Counselled','9100000001','2026-06-28 11:54:58','2026-06-28 12:17:28');
/*!40000 ALTER TABLE `disciplinary_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `extracurricular_activities`
--

DROP TABLE IF EXISTS `extracurricular_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `extracurricular_activities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `semester` int(11) NOT NULL,
  `activity_name` varchar(150) NOT NULL,
  `achievement` varchar(100) DEFAULT NULL,
  `points_awarded` int(11) NOT NULL DEFAULT 0,
  `verified_by` varchar(15) DEFAULT NULL,
  `status` enum('Pending','Approved','Rejected') NOT NULL DEFAULT 'Pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `extracurricular_activities_reg_no_foreign` (`reg_no`),
  KEY `extracurricular_activities_verified_by_foreign` (`verified_by`),
  CONSTRAINT `extracurricular_activities_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE,
  CONSTRAINT `extracurricular_activities_verified_by_foreign` FOREIGN KEY (`verified_by`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `extracurricular_activities`
--

LOCK TABLES `extracurricular_activities` WRITE;
/*!40000 ALTER TABLE `extracurricular_activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `extracurricular_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_records`
--

DROP TABLE IF EXISTS `leave_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_records` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `semester` int(11) NOT NULL,
  `leave_date` varchar(100) DEFAULT NULL,
  `no_of_days` varchar(20) DEFAULT NULL,
  `reason` varchar(255) NOT NULL,
  `parent_informed` tinyint(1) NOT NULL DEFAULT 0,
  `status` enum('Pending','Approved','Rejected') NOT NULL DEFAULT 'Pending',
  `approved_by` varchar(15) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `leave_records_reg_no_foreign` (`reg_no`),
  KEY `leave_records_approved_by_foreign` (`approved_by`),
  CONSTRAINT `leave_records_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL,
  CONSTRAINT `leave_records_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_records`
--

LOCK TABLES `leave_records` WRITE;
/*!40000 ALTER TABLE `leave_records` DISABLE KEYS */;
INSERT INTO `leave_records` VALUES (1,'25EL1001',3,'2026-06-25 to 2026-06-26','2','Test reason',1,'Approved','9100000001','2026-06-28 11:01:56','2026-06-28 11:53:06'),(2,'25EL1001',3,'2026-06-24 to 2026-06-25','1.5','Fever',1,'Approved','9100000001','2026-06-28 12:24:25','2026-06-28 12:24:51');
/*!40000 ALTER TABLE `leave_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lesson_plans`
--

DROP TABLE IF EXISTS `lesson_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lesson_plans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `day_no` int(11) DEFAULT NULL,
  `batch_subject_id` bigint(20) unsigned NOT NULL,
  `co_id` varchar(10) DEFAULT NULL,
  `topic_content` text NOT NULL,
  `allocated_hours` int(11) NOT NULL DEFAULT 1,
  `proposed_date` date DEFAULT NULL,
  `actual_date` date DEFAULT NULL,
  `actual_hours` int(11) DEFAULT NULL,
  `pedagogy` varchar(255) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `status` enum('Pending','In Progress','Completed') NOT NULL DEFAULT 'Pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lesson_plans_batch_subject_id_foreign` (`batch_subject_id`),
  CONSTRAINT `lesson_plans_batch_subject_id_foreign` FOREIGN KEY (`batch_subject_id`) REFERENCES `batch_subjects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=181 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lesson_plans`
--

LOCK TABLES `lesson_plans` WRITE;
/*!40000 ALTER TABLE `lesson_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `lesson_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mentoring_batches`
--

DROP TABLE IF EXISTS `mentoring_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mentoring_batches` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `classroom_id` varchar(50) NOT NULL,
  `reg_no` varchar(50) NOT NULL,
  `mentor_no` varchar(15) NOT NULL,
  `batch_label` enum('A','B') NOT NULL,
  `assigned_by` varchar(15) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_student_batch` (`classroom_id`,`reg_no`),
  KEY `mentoring_batches_reg_no_foreign` (`reg_no`),
  KEY `mentoring_batches_mentor_no_classroom_id_index` (`mentor_no`,`classroom_id`),
  CONSTRAINT `mentoring_batches_classroom_id_foreign` FOREIGN KEY (`classroom_id`) REFERENCES `class_management` (`classroom_id`) ON DELETE CASCADE,
  CONSTRAINT `mentoring_batches_mentor_no_foreign` FOREIGN KEY (`mentor_no`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE CASCADE,
  CONSTRAINT `mentoring_batches_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mentoring_batches`
--

LOCK TABLES `mentoring_batches` WRITE;
/*!40000 ALTER TABLE `mentoring_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `mentoring_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES ('carmel.linx@carmelpoly.in','cI2FGigE89LKoQ884Kf9hNA0TjYpnsX8x3idDC7XfrdIqovqwgYZIqjagTtqKmCC','2026-06-26 12:42:20');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `po_config`
--

DROP TABLE IF EXISTS `po_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `po_config` (
  `po_id` varchar(10) NOT NULL,
  `po_name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`po_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_config`
--

LOCK TABLES `po_config` WRITE;
/*!40000 ALTER TABLE `po_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `po_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_bank`
--

DROP TABLE IF EXISTS `question_bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `question_bank` (
  `question_id` char(36) NOT NULL DEFAULT uuid(),
  `branch_code` varchar(10) NOT NULL,
  `subject_code` varchar(50) NOT NULL,
  `type` varchar(20) NOT NULL,
  `part_type` varchar(5) DEFAULT NULL,
  `cognitive_level` varchar(5) DEFAULT NULL,
  `question_text` text NOT NULL,
  `options` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`options`)),
  `correct_answer` text DEFAULT NULL,
  `co_tag` varchar(10) NOT NULL,
  `marks` int(11) NOT NULL,
  `rubric` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`rubric`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`question_id`),
  KEY `question_bank_subject_code_index` (`subject_code`),
  CONSTRAINT `question_bank_subject_code_foreign` FOREIGN KEY (`subject_code`) REFERENCES `syllabus_registry` (`subject_code`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_bank`
--

LOCK TABLES `question_bank` WRITE;
/*!40000 ALTER TABLE `question_bank` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_bank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `remedial_assessment_scores`
--

DROP TABLE IF EXISTS `remedial_assessment_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `remedial_assessment_scores` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `assessment_id` char(36) NOT NULL,
  `reg_no` varchar(255) NOT NULL,
  `score` decimal(8,2) NOT NULL,
  `co_scores` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`co_scores`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `remedial_assessment_scores_assessment_id_reg_no_unique` (`assessment_id`,`reg_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `remedial_assessment_scores`
--

LOCK TABLES `remedial_assessment_scores` WRITE;
/*!40000 ALTER TABLE `remedial_assessment_scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `remedial_assessment_scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `remedial_assessments`
--

DROP TABLE IF EXISTS `remedial_assessments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `remedial_assessments` (
  `assessment_id` char(36) NOT NULL,
  `room_id` char(36) NOT NULL,
  `type` varchar(255) NOT NULL,
  `linked_test_id` varchar(255) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `co_structure` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`co_structure`)),
  `max_marks` int(11) NOT NULL,
  `questions_payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`questions_payload`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`assessment_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `remedial_assessments`
--

LOCK TABLES `remedial_assessments` WRITE;
/*!40000 ALTER TABLE `remedial_assessments` DISABLE KEYS */;
INSERT INTO `remedial_assessments` VALUES ('5fa4d257-c42d-47bd-85cd-059bc8757524','4ae4813d-dff4-4adb-bf2b-25ec25ee5ef6','Written Test',NULL,'CO1 - Embedded systems architecture',NULL,20,NULL,'2026-06-26 05:19:09','2026-06-26 05:19:09'),('bd16b974-da4d-42d3-ba10-0a8672ef8a4b','4ae4813d-dff4-4adb-bf2b-25ec25ee5ef6','Online Test',NULL,'online remedi 1',NULL,20,NULL,'2026-06-26 05:19:54','2026-06-26 05:19:54');
/*!40000 ALTER TABLE `remedial_assessments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `remedial_rooms`
--

DROP TABLE IF EXISTS `remedial_rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `remedial_rooms` (
  `room_id` char(36) NOT NULL,
  `classroom_id` char(36) NOT NULL,
  `subject_code` varchar(255) NOT NULL,
  `created_by_mobile` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`room_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `remedial_rooms`
--

LOCK TABLES `remedial_rooms` WRITE;
/*!40000 ALTER TABLE `remedial_rooms` DISABLE KEYS */;
INSERT INTO `remedial_rooms` VALUES ('4ae4813d-dff4-4adb-bf2b-25ec25ee5ef6','EL_2025_2028','EL-5041','9100000001','active','2026-06-26 05:04:12','2026-06-26 05:04:12');
/*!40000 ALTER TABLE `remedial_rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `remedial_session_logs`
--

DROP TABLE IF EXISTS `remedial_session_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `remedial_session_logs` (
  `log_id` char(36) NOT NULL,
  `room_id` char(36) NOT NULL,
  `session_date` date NOT NULL,
  `start_time` time DEFAULT NULL,
  `duration_minutes` int(11) NOT NULL DEFAULT 60,
  `topic_covered` varchar(255) DEFAULT NULL,
  `attendance_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attendance_data`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `remedial_session_logs`
--

LOCK TABLES `remedial_session_logs` WRITE;
/*!40000 ALTER TABLE `remedial_session_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `remedial_session_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `remedial_students`
--

DROP TABLE IF EXISTS `remedial_students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `remedial_students` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `room_id` char(36) NOT NULL,
  `reg_no` varchar(255) NOT NULL,
  `added_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `remedial_students_room_id_reg_no_unique` (`room_id`,`reg_no`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `remedial_students`
--

LOCK TABLES `remedial_students` WRITE;
/*!40000 ALTER TABLE `remedial_students` DISABLE KEYS */;
/*!40000 ALTER TABLE `remedial_students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_profiles`
--

DROP TABLE IF EXISTS `staff_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff_profiles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mobile_no` varchar(15) NOT NULL,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `branch` varchar(50) NOT NULL,
  `designation` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `photo_url` text DEFAULT NULL,
  `account_status` varchar(50) NOT NULL DEFAULT 'Pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `staff_profiles_mobile_no_unique` (`mobile_no`),
  UNIQUE KEY `staff_profiles_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_profiles`
--

LOCK TABLES `staff_profiles` WRITE;
/*!40000 ALTER TABLE `staff_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_attendance`
--

DROP TABLE IF EXISTS `student_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_attendance` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `subject_code` varchar(50) NOT NULL,
  `date` date NOT NULL,
  `status` enum('Present','Absent','Late') NOT NULL DEFAULT 'Present',
  `lesson_plan_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `student_attendance_reg_no_foreign` (`reg_no`),
  CONSTRAINT `student_attendance_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_attendance`
--

LOCK TABLES `student_attendance` WRITE;
/*!40000 ALTER TABLE `student_attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_board_grades`
--

DROP TABLE IF EXISTS `student_board_grades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_board_grades` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `semester` int(11) NOT NULL,
  `subject_code` varchar(50) NOT NULL,
  `grade` varchar(10) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `exam_month_year` varchar(50) DEFAULT NULL,
  `chances_taken` int(11) NOT NULL DEFAULT 1,
  `internal_marks` int(11) DEFAULT NULL,
  `external_marks` int(11) DEFAULT NULL,
  `total_marks` int(11) DEFAULT NULL,
  `passed` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `student_board_grades_reg_no_foreign` (`reg_no`),
  CONSTRAINT `student_board_grades_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_board_grades`
--

LOCK TABLES `student_board_grades` WRITE;
/*!40000 ALTER TABLE `student_board_grades` DISABLE KEYS */;
INSERT INTO `student_board_grades` VALUES (1,'25EL1001',1,'EL101','a','2026-06-28 11:13:14','2026-06-28 11:13:14','2026-08',1,NULL,NULL,NULL,1),(2,'25EL1001',1,'MA101','a','2026-06-28 11:13:14','2026-06-28 11:13:14','2026-11',1,NULL,NULL,NULL,1);
/*!40000 ALTER TABLE `student_board_grades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_family_details`
--

DROP TABLE IF EXISTS `student_family_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_family_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `relationship` varchar(50) NOT NULL,
  `education` varchar(100) DEFAULT NULL,
  `occupation` varchar(100) DEFAULT NULL,
  `contact_no` varchar(20) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `student_family_details_reg_no_foreign` (`reg_no`),
  CONSTRAINT `student_family_details_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_family_details`
--

LOCK TABLES `student_family_details` WRITE;
/*!40000 ALTER TABLE `student_family_details` DISABLE KEYS */;
INSERT INTO `student_family_details` VALUES (12,'25EL1001','TER BRO','bro','6th','nil','nl','2026-06-28 11:13:14','2026-06-28 11:13:14'),(13,'25EL1001','TEST SIS','sis','10th','nil','nil','2026-06-28 11:13:14','2026-06-28 11:13:14');
/*!40000 ALTER TABLE `student_family_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_fee_records`
--

DROP TABLE IF EXISTS `student_fee_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_fee_records` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `academic_year` varchar(20) NOT NULL,
  `fees_to_pay` decimal(10,2) DEFAULT NULL,
  `amount_paid` decimal(10,2) DEFAULT NULL,
  `date_paid` date DEFAULT NULL,
  `total_paid` decimal(10,2) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `student_fee_records_reg_no_foreign` (`reg_no`),
  CONSTRAINT `student_fee_records_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_fee_records`
--

LOCK TABLES `student_fee_records` WRITE;
/*!40000 ALTER TABLE `student_fee_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_fee_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_mentoring_profiles`
--

DROP TABLE IF EXISTS `student_mentoring_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_mentoring_profiles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(255) NOT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `caste` varchar(255) DEFAULT NULL,
  `religion` varchar(255) DEFAULT NULL,
  `special_category` varchar(255) DEFAULT NULL,
  `reservation` varchar(255) DEFAULT NULL,
  `quota` varchar(255) DEFAULT NULL,
  `is_physically_disabled` tinyint(1) NOT NULL DEFAULT 0,
  `disability_category` varchar(255) DEFAULT NULL,
  `guardian_occupation` varchar(255) DEFAULT NULL,
  `monthly_family_income` varchar(255) DEFAULT NULL,
  `has_vehicle_pass` tinyint(1) NOT NULL DEFAULT 0,
  `vehicle_pass_id` varchar(255) DEFAULT NULL,
  `communication_address` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `student_mentoring_profiles_reg_no_unique` (`reg_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_mentoring_profiles`
--

LOCK TABLES `student_mentoring_profiles` WRITE;
/*!40000 ALTER TABLE `student_mentoring_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_mentoring_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_prior_education`
--

DROP TABLE IF EXISTS `student_prior_education`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_prior_education` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `course` varchar(50) NOT NULL,
  `institution` varchar(150) NOT NULL,
  `year_of_completion` varchar(10) DEFAULT NULL,
  `maths_marks` varchar(20) DEFAULT NULL,
  `physics_marks` varchar(20) DEFAULT NULL,
  `chemistry_marks` varchar(20) DEFAULT NULL,
  `total_percentage` varchar(20) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `student_prior_education_reg_no_foreign` (`reg_no`),
  CONSTRAINT `student_prior_education_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_prior_education`
--

LOCK TABLES `student_prior_education` WRITE;
/*!40000 ALTER TABLE `student_prior_education` DISABLE KEYS */;
INSERT INTO `student_prior_education` VALUES (7,'25EL1001','cbse','ghdtr','2024',NULL,NULL,NULL,'90','2026-06-28 11:13:14','2026-06-28 11:13:14');
/*!40000 ALTER TABLE `student_prior_education` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_responses`
--

DROP TABLE IF EXISTS `student_responses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_responses` (
  `response_id` char(36) NOT NULL DEFAULT uuid(),
  `reg_no` varchar(50) NOT NULL,
  `test_id` char(36) NOT NULL,
  `question_id` char(36) NOT NULL,
  `selected_option` varchar(10) DEFAULT NULL,
  `descriptive_text` text DEFAULT NULL,
  `marks_obtained` decimal(5,2) NOT NULL DEFAULT 0.00,
  `evaluated_by` varchar(15) DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'Submitted',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`response_id`),
  UNIQUE KEY `unique_student_response` (`reg_no`,`test_id`,`question_id`),
  KEY `student_responses_test_id_foreign` (`test_id`),
  KEY `student_responses_question_id_foreign` (`question_id`),
  KEY `student_responses_evaluated_by_foreign` (`evaluated_by`),
  KEY `student_responses_reg_no_test_id_index` (`reg_no`,`test_id`),
  CONSTRAINT `student_responses_evaluated_by_foreign` FOREIGN KEY (`evaluated_by`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL,
  CONSTRAINT `student_responses_question_id_foreign` FOREIGN KEY (`question_id`) REFERENCES `question_bank` (`question_id`) ON DELETE CASCADE,
  CONSTRAINT `student_responses_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE,
  CONSTRAINT `student_responses_test_id_foreign` FOREIGN KEY (`test_id`) REFERENCES `test_configs` (`test_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_responses`
--

LOCK TABLES `student_responses` WRITE;
/*!40000 ALTER TABLE `student_responses` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_responses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_semester_marks`
--

DROP TABLE IF EXISTS `student_semester_marks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_semester_marks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `semester` int(11) NOT NULL,
  `subject_code` varchar(50) NOT NULL,
  `subject_name` varchar(255) NOT NULL,
  `internal_marks` decimal(5,2) DEFAULT NULL,
  `board_marks` decimal(5,2) DEFAULT NULL,
  `total_marks` decimal(5,2) DEFAULT NULL,
  `grade` varchar(10) DEFAULT NULL,
  `attendance_percentage` decimal(5,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `student_semester_marks_reg_no_foreign` (`reg_no`),
  CONSTRAINT `student_semester_marks_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_semester_marks`
--

LOCK TABLES `student_semester_marks` WRITE;
/*!40000 ALTER TABLE `student_semester_marks` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_semester_marks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_semester_summary`
--

DROP TABLE IF EXISTS `student_semester_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_semester_summary` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(50) NOT NULL,
  `semester` int(11) NOT NULL,
  `sgpa` decimal(4,2) DEFAULT NULL,
  `cgpa` decimal(4,2) DEFAULT NULL,
  `activity_points` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `student_semester_summary_reg_no_foreign` (`reg_no`),
  CONSTRAINT `student_semester_summary_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_semester_summary`
--

LOCK TABLES `student_semester_summary` WRITE;
/*!40000 ALTER TABLE `student_semester_summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_semester_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_task_submissions`
--

DROP TABLE IF EXISTS `student_task_submissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_task_submissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reg_no` varchar(15) NOT NULL,
  `subject_code` varchar(20) NOT NULL,
  `category` varchar(50) NOT NULL DEFAULT 'Assignment',
  `co_tag` varchar(10) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'Submitted',
  `submitted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `student_task_submissions_reg_no_foreign` (`reg_no`),
  CONSTRAINT `student_task_submissions_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_task_submissions`
--

LOCK TABLES `student_task_submissions` WRITE;
/*!40000 ALTER TABLE `student_task_submissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_task_submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `reg_no` varchar(50) NOT NULL,
  `adm_no` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `branch` varchar(50) NOT NULL,
  `admission_year` int(11) NOT NULL,
  `admission_type` varchar(50) NOT NULL DEFAULT 'Regular',
  `photo_url` text DEFAULT NULL,
  `classroom_id` varchar(50) DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'Pending',
  `academic_status` varchar(50) NOT NULL DEFAULT 'Active',
  `status_notes` text DEFAULT NULL,
  `placement_details` text DEFAULT NULL,
  `higher_studies_remark` text DEFAULT NULL,
  `sbte_reg_no` varchar(50) DEFAULT NULL,
  `mentor_mobile_no` varchar(15) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `annual_income` varchar(50) DEFAULT NULL,
  `residential_status` enum('Day Scholar','Hosteller') NOT NULL DEFAULT 'Day Scholar',
  `guardian_name` varchar(100) DEFAULT NULL,
  `guardian_address` text DEFAULT NULL,
  `guardian_relationship` varchar(50) DEFAULT NULL,
  `guardian_mobile` varchar(20) DEFAULT NULL,
  `scholarships` text DEFAULT NULL,
  `is_fee_waiver` tinyint(1) NOT NULL DEFAULT 0,
  `profile_verified_at` timestamp NULL DEFAULT NULL,
  `profile_verified_by` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`reg_no`),
  UNIQUE KEY `students_adm_no_unique` (`adm_no`),
  UNIQUE KEY `students_email_unique` (`email`),
  KEY `students_mentor_mobile_no_foreign` (`mentor_mobile_no`),
  KEY `students_classroom_id_index` (`classroom_id`),
  KEY `students_profile_verified_by_foreign` (`profile_verified_by`),
  CONSTRAINT `students_classroom_id_foreign` FOREIGN KEY (`classroom_id`) REFERENCES `class_management` (`classroom_id`) ON DELETE SET NULL,
  CONSTRAINT `students_mentor_mobile_no_foreign` FOREIGN KEY (`mentor_mobile_no`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL,
  CONSTRAINT `students_profile_verified_by_foreign` FOREIGN KEY (`profile_verified_by`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subject_staff_assignments`
--

DROP TABLE IF EXISTS `subject_staff_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subject_staff_assignments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `batch_subject_id` bigint(20) unsigned NOT NULL,
  `staff_mobile_no` varchar(20) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `subject_staff_assignments_batch_subject_id_foreign` (`batch_subject_id`),
  KEY `subject_staff_assignments_staff_mobile_no_foreign` (`staff_mobile_no`),
  CONSTRAINT `subject_staff_assignments_batch_subject_id_foreign` FOREIGN KEY (`batch_subject_id`) REFERENCES `batch_subjects` (`id`) ON DELETE CASCADE,
  CONSTRAINT `subject_staff_assignments_staff_mobile_no_foreign` FOREIGN KEY (`staff_mobile_no`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subject_staff_assignments`
--

LOCK TABLES `subject_staff_assignments` WRITE;
/*!40000 ALTER TABLE `subject_staff_assignments` DISABLE KEYS */;
INSERT INTO `subject_staff_assignments` VALUES (1,1,'9100000001','2026-06-22 09:00:51','2026-06-22 09:00:51'),(2,5,'9100000001','2026-06-23 12:15:59','2026-06-23 12:15:59'),(3,6,'9100000006','2026-06-26 13:24:35','2026-06-26 13:24:35'),(4,6,'9100000003','2026-06-26 13:24:35','2026-06-26 13:24:35');
/*!40000 ALTER TABLE `subject_staff_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `syllabus_registry`
--

DROP TABLE IF EXISTS `syllabus_registry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `syllabus_registry` (
  `subject_code` varchar(50) NOT NULL,
  `revision_year` int(11) NOT NULL,
  `subject_name` varchar(255) NOT NULL,
  `co_count` int(11) NOT NULL DEFAULT 6,
  `cis_pdf_path` varchar(255) DEFAULT NULL,
  `co_po_mapping` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`co_po_mapping`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`subject_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `syllabus_registry`
--

LOCK TABLES `syllabus_registry` WRITE;
/*!40000 ALTER TABLE `syllabus_registry` DISABLE KEYS */;
/*!40000 ALTER TABLE `syllabus_registry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test_attempts`
--

DROP TABLE IF EXISTS `test_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `test_attempts` (
  `attempt_id` char(36) NOT NULL DEFAULT uuid(),
  `reg_no` varchar(50) NOT NULL,
  `test_id` char(36) NOT NULL,
  `attempt_number` int(11) NOT NULL DEFAULT 1,
  `start_time` timestamp NULL DEFAULT NULL,
  `end_time` timestamp NULL DEFAULT NULL,
  `total_score` decimal(5,2) NOT NULL DEFAULT 0.00,
  `status` varchar(20) NOT NULL DEFAULT 'in_progress',
  `responses` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`responses`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`attempt_id`),
  KEY `test_attempts_reg_no_foreign` (`reg_no`),
  KEY `test_attempts_test_id_foreign` (`test_id`),
  CONSTRAINT `test_attempts_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE,
  CONSTRAINT `test_attempts_test_id_foreign` FOREIGN KEY (`test_id`) REFERENCES `test_configs` (`test_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test_attempts`
--

LOCK TABLES `test_attempts` WRITE;
/*!40000 ALTER TABLE `test_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `test_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test_configs`
--

DROP TABLE IF EXISTS `test_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `test_configs` (
  `test_id` char(36) NOT NULL DEFAULT uuid(),
  `subject_code` varchar(50) NOT NULL,
  `classroom_id` varchar(50) NOT NULL,
  `test_name` varchar(255) NOT NULL,
  `start_time` timestamp NULL DEFAULT NULL,
  `end_time` timestamp NULL DEFAULT NULL,
  `duration` int(11) NOT NULL,
  `selected_cos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`selected_cos`)),
  `mcq_count` int(11) NOT NULL DEFAULT 0,
  `descriptive_count` int(11) NOT NULL DEFAULT 0,
  `target_percentage` int(11) NOT NULL DEFAULT 50,
  `pass_threshold` int(11) NOT NULL DEFAULT 40,
  `max_attempts` int(11) NOT NULL DEFAULT 1,
  `is_auto_scheduled` tinyint(1) NOT NULL DEFAULT 0,
  `questions_payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`questions_payload`)),
  `is_active` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`test_id`),
  KEY `test_configs_subject_code_foreign` (`subject_code`),
  KEY `test_configs_classroom_id_index` (`classroom_id`),
  CONSTRAINT `test_configs_classroom_id_foreign` FOREIGN KEY (`classroom_id`) REFERENCES `class_management` (`classroom_id`) ON DELETE CASCADE,
  CONSTRAINT `test_configs_subject_code_foreign` FOREIGN KEY (`subject_code`) REFERENCES `syllabus_registry` (`subject_code`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test_configs`
--

LOCK TABLES `test_configs` WRITE;
/*!40000 ALTER TABLE `test_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `test_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tutor_diaries`
--

DROP TABLE IF EXISTS `tutor_diaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tutor_diaries` (
  `diary_id` char(36) NOT NULL DEFAULT uuid(),
  `reg_no` varchar(50) NOT NULL,
  `date` date NOT NULL,
  `category` varchar(100) NOT NULL,
  `discussion_notes` text NOT NULL,
  `action_taken` text DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `logged_by` varchar(15) DEFAULT NULL,
  `entry_source` enum('Staff','Student') NOT NULL DEFAULT 'Staff',
  `approval_status` enum('Pending','Approved','Rejected') NOT NULL DEFAULT 'Approved',
  `approved_by` varchar(15) DEFAULT NULL,
  `student_remarks` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`diary_id`),
  KEY `tutor_diaries_logged_by_foreign` (`logged_by`),
  KEY `tutor_diaries_reg_no_index` (`reg_no`),
  KEY `tutor_diaries_approved_by_foreign` (`approved_by`),
  CONSTRAINT `tutor_diaries_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL,
  CONSTRAINT `tutor_diaries_logged_by_foreign` FOREIGN KEY (`logged_by`) REFERENCES `staff_profiles` (`mobile_no`) ON DELETE SET NULL,
  CONSTRAINT `tutor_diaries_reg_no_foreign` FOREIGN KEY (`reg_no`) REFERENCES `students` (`reg_no`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tutor_diaries`
--

LOCK TABLES `tutor_diaries` WRITE;
/*!40000 ALTER TABLE `tutor_diaries` DISABLE KEYS */;
INSERT INTO `tutor_diaries` VALUES ('2271520f-03e3-4bcb-b825-c7d0d5335fa3','25EL1001','2026-06-03','Mentoring','inside container meeting recorsd','testing',NULL,'9100000001','Staff','Approved',NULL,NULL,'2026-06-28 12:21:41','2026-06-28 12:21:41'),('676953e5-5bfe-4e67-8c4c-80c20c91eae9','25EL1001','2026-06-18','Mentoring','test meetng 1','completers',NULL,'9100000001','Staff','Approved',NULL,NULL,'2026-06-28 11:45:24','2026-06-28 11:45:24');
/*!40000 ALTER TABLE `tutor_diaries` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-28 20:15:40
